<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
	<head>
		<title> <%= yield(:title) %> | Rails Sign up</title>
	</head>
	<body>
		<h1>Help</h1>

		<p>
			This is the help page for the Rails Sign up application.
		</p>
	</body>
</html>





