<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title> <%= yield(:title) %> | Rails Sign up</title>
	</head>
	<body>
		<h1>Rails Sign up App</h1>

		<p>
			This is the home page for the Rails Sign up application.
		</p>
	</body>
</html>





